*, html {
	margin:0;
	padding:0;  
}

.body {
	font-family: "Lato", sans-serif;
	padding: 0;
	margin: 0px;
	background-color: #F7F7F7;
}

.header {
	margin : 0;
	background-color: #222222;
	height: 256px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-img {
	height: 100px;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.header-title {
	color: #FFFFFF;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	margin: -10 auto;
}

.header-description {
	color: #CFCFCF;
	margin: 6px auto;
	padding: 2px;
	text-align: center;
	max-width: 384px;
}

.menu {
	height: 112px;
	width: 912px;
	display: flex;
	justify-content: space-evenly;
	padding-top: 24px;
	margin: -35px auto 0 auto;
	background-color: #FFFFFF;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu-title {
	margin-bottom: 6px;
	width: 90px;
	font-weight: bold;
	color: #079A82;
}